##Main
/.idea/
*.iml
.env

##Backend
/backend/.idea/
/backend/*.iml
/backend/.mvn/
/backend/mvnw
/backend/mvnw.cmd
/backend/target/

##Frontend
/frontend/node_modules/
/frontend/dist/
/frontend/dist-ssr/
/frontend/npm-debug.log*